*.class
*.log
# R specific
.Rhistory

# haskell specific

*.hi
*.o

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# netbeans
nbactions.xml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log
=======
*.class
*.log
.cache
# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
out/

# Scala-IDE specific
.scala_dependencies

.gradle
gradle/*
gradlew
gradlew.bat
