.container_12
    h2
        Menu
        |
        a(href="/leagues") Leagues
        br
        a(href="/tournaments") Tournaments
        br
        a(href="/players") Players
        br
        a(href="/about) About
        br