- attributes("title") = "H2H Fantasy - a fantasy game, where each team faces anther team for roughly 1 week, and after that points are going to the team, that win that week"
- attributes("headline") = "Welcome to H2H prototype for sports.ru"

p= "Hello, H2H Fantasy!"